<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="openid">
        insert into user
            <set>
                <if test="openid!=null">openid=#{openid},</if>
                <if test="name!=null">name=#{name},</if>
                <if test="phone!=null">phone=#{phone},</if>
                <if test="sex!=null">sex=#{sex},</if>
                <if test="id_number!=null">id_number=#{idNumber},</if>
                <if test="avatar!=null">avatar=#{avatar},</if>
                <if test="create_time!=null">create_time=#{createTime}</if>
            </set>
    </insert>
</mapper>
